
{% extends "_base.html" %}
{% load static %}

{% block content %}
<div class="container">
    {% if hotel %}
        <div class="row">
            <div class="col-md-12">
                <img src="{{ hotel.featured_image.url }}" alt="hotel image" class="img-fluid rounded" height="300">
            </div>
        </div>
    {% endif %}

    <p class="gt-headline">All available rooms in {{ hotel.name }} | {{ room|length }}</p>

    {% if rooms %}
        <div class="row">
            {% for room in rooms %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card w-50 position-relative">
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {% if room.is_occupied %}
                                Unavailable
                            {% else %}
                                Available
                            {% endif %}
                            <span class="visually-hidden">Available Room</span>
                        </span>
                        <div class="card-body">
                            <h5 class="card-title">Room # {{ room.id }} </h5>
                            {% if room.is_occupied and room.guest.username == user.username %}
                                <p class="gt-p"><i class="fas fa-user text-primary"></i> 
                                    Guest : {{ user.username }}
                                </p>
                                <!-- <a href="#" class="btn btn-primary disabled">Check In</a> -->
                            {% elif room.is_occupied %}
                                <p class="gt-p"><i class="fas fa-user text-primary"></i> 
                                    Guest : {{ room.guest.username }}
                                </p>
                            {% else %}
                                <form method="post" action="{% url 'check_in' hotel.id room.id %}">
                                    {% csrf_token %}
                                    <!-- <a href="" class="btn btn-primary" type="submit">Check In</a> -->
                                    <button type="submit" class="btn btn-primary">Check In</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="container">
                    <p class="">There is currently no room here...</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
