{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Home page{% endblock title %}



{% block content %}

<div class="container-md mt-5 card bg-white p-5">
    <div class="alert alert-info" role="alert">
        Before you continue, we will need more info to properly match you to a Roommate!!
    </div>
    <br>
    <h1>User Profile Form</h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy}}
        <input type="submit" value="Submit" class="btn btn-info">
    </form>
</div>

{% endblock content %}